*{
    margin: 0;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.flex {
    display: flex;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    color: white;
    background-color: #FF900E;
    padding: 20px 30px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
}

/* Nav Styles */

.company-tittle{
    font-size: 2.7rem;
    font-weight: bold;
    margin:0px;
    padding: 50px 0;
    color: #fd8a06;
    

}

.nav-cotainer{
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.quick-access{
    gap: 20px;
}
.quick-access li{
    list-style: none;
}

.quick-access li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.25rem;
    font-weight: 500;
}

/* Banner styles */

.banner{
    max-width: 1440px;
    margin: 50px auto;
    text-align: center;
    
}

.banner-tittle{
    font-size: 4rem;
    font-weight: bold;
}

.banner-description{
    font-size: 1rem;
    color: #424242;
    margin: 30px 0;
}

.banner-content{
    max-width: 870px;
    margin: 50px auto;
    
}

.banner-img{
    width: 100%;
    /* padding: 0 50px; */
    margin-bottom: 45px;
    border-radius: 10px;
}

/* Feature section style */

.feature{
    display: flex;
    max-width: 1320px;
    margin: 85px auto;
    align-items: center;
    gap: 70px;
    /* justify-content: space-between; */

}

.feature-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

.feature-img-container img{
    width: 100%;
}

.feature-tittle{
    font-size: 3rem;
    margin: 24px 0;
}
#quick-list{
    font-weight: 500;
    color: #727272;
}
#features{
    color: #FF900E;
}
.feature-des{
    color: #727272;
    font-size: 1rem;
    margin: 1.8rem 0;
    max-width: 560px;
}

/* feature details styles */

.feature-option{
    display: flex;
    gap: 140px;
    max-width: 1440px;
    margin: 100px auto;
    align-items: center;
    
}

.feature-head{
    font-size: 2.8rem;
    font-weight: bold;
    width: 400px;
    border-left: 5px solid #FF900E;
    padding-left: 25px;
    margin: 0;
}

.feature-card{
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    width: auto;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.sister-img-container img{
    width: 100%;
}
.card-tittle{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.card-des{
    font-size: 16px;
    color: #727272;
}
#amazing-year{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;

}
#amazing-experience{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}
.btn-experience{
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    color: white;
    padding:40px 40px;
    margin-top: -120px;
    margin-left: -100px;

}

/* Achievements section style */
.reputation{
    max-width: 1440px;
    margin: 0 auto;
}
.achievements{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    
}

.achievement{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #fd8a06;
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

.achievement img{
    width: 35px;
}
.achieve-tittle{
    font-size: 3rem;
    font-weight: 600;
    margin: 5px 0;
    color: #424242;
}
.achieve-des{
    color: #727272;
}

.fact-tittle{
    font-size: 2.9rem;
    font-weight: bold;
    margin: 10px 0;
}
.fact-des{
    font-size: 1rem;
    max-width: 600px;
    color: #727272;
    margin-bottom: 50px;
}






/* For smaller device */

@media screen and (max-width: 576px) {
    .nav-cotainer, .feature{
        flex-direction: column;
        /* justify-content: center; */
    }

    .banner-content{
        margin: 20px 0;
    }
    .banner-img{
        padding: 20px;
        width: calc( 100% - 40px);
    }

    .banner-description{
        font-size: .7rem;
    }
    
    .feature{
        padding: 30px;
        gap: 30px;
        margin: 0;
        max-width: 80vmax;
    }

    .company-tittle{
        padding: 10px 0 0 0;
    }
    .quick-access{
        text-align: center;
        gap: 1.2rem;
        padding: 10px 0;
        
    }
    .quick-access li a{
        font-size: 15px;
    }


    .feature-img-container{
        gap: 15px;
    }
    .feature-img-container img{
        width: 100%;
    }

    .feature-tittle{
        font-size: 2.5rem;
    }
    .banner-tittle{
        margin-top: 0;
        /* margin: ; */
        /* padding: 10px; */
        font-size: 2rem;
    }
    .feature-head{
        width: auto;
    }

    .feature-option{
        flex-direction: column;
        gap: 50px;
        margin: 40px 0;
        padding: 15px;
    }
    .btn-experience{
        padding: 20PX;
        margin: -50px 0;

    }
    #amazing-year{
        font-size: 2rem;
    }
    #amazing-experience{
        font-size: 1rem;
    }

    .achievements{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .achievement{
        height: 160px;
        width: 160px;
    }

    .achieve-tittle{
        font-size: 30px;
    }
    .achieve-des{
        font-size: .8rem;
        margin: 0 ;
    }

    .achievement img{
        width: 30px;
    }

    .fact-des, .fact-tittle{
        padding-left: 10px;
    }


}

@media screen and (min-width: 576.1px) and (max-width: 992px){
    .banner-img{
        padding: 30px;
        width: calc( 100% - 60px);
    }
    .nav-cotainer{
        padding: 0 40px;
    }

    .feature{
        max-width: 80vmax;
        margin: 0 auto;
        align-items: normal;
        flex-direction: column;
        gap: 50px;
    }
    .feature-option{
        flex-direction: column;
        gap: 50px;
        padding: 0 30px;
    }
    .feature-head{
        margin-left: 20px;
    }
    .btn-experience{
        padding: 40px;
        margin: -80px 0;
    }
    #amazing-year{
        font-size: 2.5rem;
    }
    #amazing-experience{
        font-size: 1.3rem;
    }
    .feature-des{
        padding: 10px;
    }

    .achievements{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
        max-width: 60vmax;
        margin: 0 auto;
    }
    .achievement{
        height: 200px;
        width: 200px;
    }
   .fact-des, .fact-tittle{
        padding-left: 30px;
    }
    
}